{% extends 'userlogin/base.html' %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}


{% block content %}
    <div class="container">
        <form method="POST" action="">
            {% csrf_token %}
            <label for="" class="form-label">Enter Course Name</label><input type="text" Required name="course" class="form-control"> 
            <button class="btn" style="color: white; background-color: #fd5e14;" type="submit" id="header-links"> Mark </button> 
        </form>    
    </div>
{% endblock %}